@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Titillium+Web:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Titillium+Web:wght@300;400;600&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  background: #030009 !important;
  background-size: cover !important;
  color: rgb(255, 255, 255, 0.5) !important;
  font-family: "IBM Plex Sans Condensed", serif !important;
  font-size: 1.2em !important;
}

.navStyle {
  /* background: #0A021B !important; */
  background: #060010 !important;
}

.footerStyle {
  background: #060010 !important;
}

.login-grid {
  margin-top: 50px !important;
  background: rgb(0, 0, 0, 0.9);
  padding: 20px !important;
}

a {
  color: rgb(216, 183, 252, 0.6) !important;
}
a:hover {
  text-decoration: none;
  transition: 0.35s ease;
  color: rgb(216, 183, 252, 0.4) !important;
}
a:active,
a:focus,
.MuiButton-root {
  border: none !important;
}

div {
  color: rgb(255, 255, 255, 0.25) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(255, 255, 255, 0.25) !important;
  font-family: "IBM Plex Sans", serif !important;
}
h2 {
  font-size: 2em !important;
  font-weight: 600 !important;
}
h3 {
  font-size: 1.5em !important;
}
h4 {
  font-size: 1.2em !important;
}
h5 {
  font-size: 1.1em !important;
}

.ui.vertical.menu {
  background: rgb(0, 0, 0, 0.25) !important;
}

.pageContainer {
  background: rgb(0, 0, 0, 0.7) !important;
  padding: 10px 20px 20px 20px !important;
  margin: 0px !important;
}

.fileRow {
  border: 1px solid rgb(255, 255, 255, 0.08);
  background: #060010 !important;
  padding: 15px;
}

input {
  color: rgb(255, 255, 255, 0.2) !important;
}

label {
  color: rgb(255, 255, 255, 0.4) !important;
  font-size: 1.2em !important;
}

.fileTable {
  background: rgb(0, 0, 0, 0.3) !important;
  color: rgb(255, 255, 255, 0.2) !important;
}

.mainNav {
  margin: -14px -15px 0 -15px !important;
}

.ui.table {
  background: none !important;
  color: rgb(255, 255, 255, 0.5) !important;
}

.ui.selectable.table tbody tr:hover,
.ui.table tbody tr td.selectable:hover {
  background: rgba(0, 0, 0, 0.25) !important;
  color: rgb(255, 255, 255, 0.5) !important;
}

.ui.menu .active.item:hover,
.ui.vertical.menu .active.item:hover,
.menu .item:hover,
.ui.vertical.menu .item:hover,
.ui.menu .active.item,
.ui.vertical.menu .active.item {
  background: rgba(0, 0, 0, 0.25) !important;
}

.ui.selection.active.dropdown:hover,
.ui.selection.dropdown,
input,
textarea {
  background: rgb(255, 255, 255, 0.1) !important;
}

.ui.selection.dropdown .menu {
  background: rgb(0, 0, 0, 1) !important;
}

.ui.dropdown,
textarea {
  color: rgb(255, 255, 255, 0.5) !important;
  background: rgb(255, 255, 255, 0.1) !important;
}

.ui.upward.dropdown > .menu,
.ui.downward.dropdown > .menu,
.ui.dropdown .menu .selected.item,
.ui.dropdown.menu,
.visible.menu.transition {
  background: rgb(0, 0, 0, 1);
}

.ui.selection.dropdown .menu > .item {
  font-size: initial;
  border: 1px solid rgb(255, 255, 255, 0.05) !important;
}

.ui.selection.dropdown .menu > .item:hover {
  background: rgb(255, 255, 255, 0.1) !important;
}

.ui.selection.active.dropdown .menu,
.ui.selection.active.dropdown,
.ui.selection.dropdown:focus {
  border-color: rgb(255, 255, 255, 0.15) !important;
}

.image-gallery {
  margin-top: 5rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
}

.ui.cards a.card:hover,
.ui.link.card:hover,
.ui.link.cards .card:hover,
a.ui.card:hover {
  background: rgba(0, 0, 0, 0.25) !important;
  transform: none !important;
  border: 1px solid rgb(50, 188, 193, 0.5) !important;
}

.ui.cards a.card,
.ui.link.card,
.ui.link.cards .card,
a.ui.card {
  background: rgba(0, 0, 0, 0.25) !important;
  box-shadow: none !important;
  border: 1px solid rgb(50, 188, 193, 0.2);
}

.ui.cards a.card,
.ui.link.card,
.ui.link.cards .card,
a.ui.card {
  margin: 10px auto !important;
}

.sort-button {
  background: rgb(1, 1, 1, 0.5) !important;
  color: rgb(255, 255, 255, 0.5) !important;
  padding: 8px 10px !important;
  font-size: 12px !important;
  font-weight: normal !important;
}
.sort-button:hover {
  background: rgb(1, 1, 1, 0.2) !important;
}
.sort-button:focus {
  background: rgb(1, 1, 1, 0.2) !important;
}

.formLabelOuter {
  width: 100%;
  flex: 1 1 auto;
}
.formLabel {
  display: block;
  margin: 0 0 0.28571429rem 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.92857143em;
  font-weight: 700;
  text-transform: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    max-width: 600px;
    margin: auto;
    background-color: #1f0d2b !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    width: 100%;
    margin: auto;
    background-color: #1f0d2b !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    width: 100%;
    margin: auto;
    background-color: #1f0d2b !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    width: 100%;
    margin: auto;
    background-color: #1f0d2b !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    width: 100%;
    margin: auto;
    background-color: #1f0d2b !important;
  }
}
